.about-hero {
    width: 100%;
    height: 50%;

    background: url("../images/fink-hero-welcome-bgr.png");
}

.about-hero-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 100%;
}

.about-hero-content h1 {
    line-height: 125px;
    text-align: center;
    text-transform: uppercase;

    font-size: 36px;
}

.about-wrapper {
    padding-top: 112px;
    padding-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper h3 {
    font-family: 'Winston-Medium', sans-serif;
    color: #FFCF9E;

    font-size: 28px;
}

.about-wrapper p {
    margin-top: 23px;

    font-family: 'Winston-Thin', sans-serif;
    color: #FFCF9E;

    font-size: 20px;
    text-align: center;
}

.about-wrapper-image {
    width: 500px;
    height: 700px;

    margin-top: 30px;

    background: url("../images/about-us-bgr.png");
}

/* TODO style button */
.about-wrapper button {
    width: 100px;

    margin-top: 20px;

    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
}