* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: nk206;
    src: url(../fonts/NK206.otf);
}

@font-face {
    font-family: Winston-Bold;
    src: url(../fonts/WINSTON-BOLD_1.OTF);
}

@font-face {
    font-family: Winston-Medium;
    src: url(../fonts/WINSTON-MEDIUM_1.OTF);
}

@font-face {
    font-family: Winston-Thin;
    src: url(../fonts/WINSTON-THIN_1.OTF);
}

@keyframes heroBgrSwap {
    0% {
        background: url('../images/fink-hero-welcome-bgr.png');
    }
    50% {
        background: url('../images/fink-hero-second-bgr.png');
    }
    100% {
        background: url('../images/fink-hero-welcome-bgr.png');
    }
    

}

html,
body {
    height: 100%;
    background: #000;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}

h1 {
    font-size: 54px;
    line-height: 90px;
}

h2 {
    font-size: 24px;
    color: #FFCF9E;
}

a {
    text-decoration: none;
}

.main-padding {
    padding-left: 90px;
    padding-right: 90px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.alignfull {
    width: 100%;
}

li {
    list-style: none;
}

input:not([type=submit]),
textarea {
    font-family: 'Winston-Medium', sans-serif;
    font-size: 20px;
    color: #FFCF9E;
    padding: 15px 12px;
    background: transparent;
    border: unset;
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    outline: none;
    transition: .3s;
}

textarea {
    border: 2px solid rgba(255, 255, 255, .7);
}

input:not([type=submit]):focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    transition: .3s;
}

textarea:focus {
    border: 2px solid rgba(255, 255, 255, 1);
    transition: .3s;
}

@media screen and (max-width: 530px) {
    .main-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
}

header {
    width: 100%;
    position: fixed;
    height: 180px;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-nav {
    display: none;
}

.before-header {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    color: #000;
    border-bottom: 4px solid #FFCF9F;
}

.upper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info {
    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22.5px;
    letter-spacing: 1px;
    text-align: left;
    color: #000;
    text-decoration: none;
}

.before-header nav {
    width: 45%;
}

.before-header nav ul {
    display: flex;
    align-items: center;
}

.before-header nav ul li a {
    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.fink-logo {
    width: 100px;
    height: 100px;
    background: url('../images/fink-logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fink-heading {
    font-family: 'nk206', sans-serif;
    font-size: 28px;
    line-height: 38px;
    color: #000;
}

.fink-languages {
    font-family: 'Winston-Medium', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFCF9F;
}

.fink-languages a {
    font-family: 'Winston-Medium', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFCF9F;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li:not(first-child) {
    margin-left: 45px;
    margin-top: 22px;
}

header nav ul li a {
    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 530px) {
    .fink-logo {
        width: 70px;
        height: 70px;
    }

    .fink-heading {
        font-size: 36px;
        line-height: 50px;
    }
    
    .fink-heading > span {
        display: none;
    }
} 

/* Footer */
footer {
    padding-top: 70px;
}

.footer-wrapper {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.fink-footer-logo {
    width: 70px;
    height: 70px;
    margin-left: -5px;

    background: url('../images/fink-logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-wrapper > div > ul {
    margin-top: 20px;
}

.footer-wrapper > div > ul > label {
    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
}

.footer-wrapper > div > ul > li {
    margin-bottom: 8px;
}

.footer-wrapper > div > ul > li > a {
    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #FFCF9F;
    text-decoration: none;
}

.footer-contact,
.footer-shortcuts,
.footer-social-media {
    margin-top: 35px;
}

.footer-part-section-heading {
    font-family: 'Winston-Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    color: #FFCF9F;
}

.footer-shortcuts > ul > li > a {
    color: rgba(255, 255, 255, .7)!important;
}

.footer-shortcuts > ul > li > a:hover {
    color: rgba(255, 255, 255, 1)!important;
}

.social-media-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.instagram-icon {
    width: 50px;
    height: 50px;

    background: url('../images/instagram-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.facebook-icon {
    width: 50px;
    height: 50px;

    background: url('../images/facebook-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin-icon {
    width: 50px;
    height: 50px;

    background: url('../images/linkedin-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Winston-Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1.4px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}