/* Universal sections on home page */
.home-wrapper {
    max-width: 890px;
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-wrapper h2 {
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 33px;
}

.home-wrapper p {
    font-family: 'Winston-Thin', sans-serif;
    font-size: 18px;
    line-height: 27.5px;
    text-align: center;
    color: #FFCF9E;
}

.home-wrapper > a {
    position: relative;
    margin-top: 25px;
    font-family: 'Winston-Thin', sans-serif;
    font-size: 18px;
    line-height: 193.1%;
    color: #FFFFFF;
}

.home-wrapper > a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background: #fff;
    right: -40px;
    top: 60%;
    margin-left: 25px;
}

.home-wrapper .section-order {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFCF9E;
}

.hero {
    width: 100%;
    height: 100%;
    padding-top: 300px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
}

.hero-content {
    width: auto;
    padding-left: 251px;
}

.hero-content h1 {
    text-transform: uppercase;
}

.hero-content h1 span {
    font-size: 80px;
    line-height: 98px;
    color:#FBD29D;
}

.hero-content h2 {
    font-size: 48px;
    line-height: 67px;
    text-transform: uppercase;
}

/* About us */
.about-us-parallax-image {
    width: 100%;
    height: 100%;

    background: url('../images/about-us-bgr.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Our services */
.our-services-images-wrapper {
    width: 140%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
}

.our-services-images-wrapper > a {
    width: 50%;
    height: 500px;
    border: 4px solid #FCD2A7;
    overflow: hidden;
}

.our-services-images-wrapper > a:hover div {
    transform: scale(1.05);
    transition: .5s;
}

.our-services-images-wrapper > a > div {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    transition: .5s;
}

.terapeutske-masaze {
    background: url('../images/terapeutske-masaze-slika.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.manikir-pedikir {
    background: url('../images/manikir-pedikir-slika.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.kriolipoliza {
    background: url('../images/kriolipoliza-slika.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kozmeticki-tretmani {
    background: url('../images/kozmeticki-tretmani.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.our-services-images-wrapper > a > div > div {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background: rgba(0, 0, 0, 0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFCF9E;
}

/* Lojer Manuthera 242 */
.lojer-manuthera-242-main {
    margin-top: 70px;
    margin-bottom: 45px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.lojer-manuthera-242-main-copy {
    max-width: 520px;
}

.lojer-manuthera-242-main-copy  p {
    width: 100%;
    font-family: 'Winston-Thin', sans-serif;
    font-size: 16px;
    line-height: 193.1%;
    text-align: justify;
    color: #FFCF9E;
}

.lojer-manuthera-242-main-copy a {
    position: relative;
    display: block;
    margin-top: 25px;
    font-family: 'Winston-Thin', sans-serif;
    font-size: 18px;
    line-height: 193.1%;
    color: #fff;
}

.lojer-manuthera-242-main-copy a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background: #fff;
    left: 140px;
    top: 60%;
    margin-left: 25px;
}

.lojer-manuthera-242-image {
    width: 600px;
    height: 450px;

    background: url("../images/lojer-manuthera-242.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid #FCD2A7;
    border-radius: 4px;
}

/* Sneak Peakk gallery */
.sneak-peak-gallery-items {
    margin-top: 70px;
}

.sneak-peak-gallery-items > div {
    width: 100%;
    margin-bottom: 150px;

    display: flex;
    align-items: center;
}

.sneak-peak-gallery-item-left-align {
    flex-direction: row;
}

.sneak-peak-gallery-item-right-align {
    flex-direction: row-reverse;
}

.sneak-peak-gallery-item-image {
    width: 600px;
    height: 450px;
    border: 4px solid #FCD2A7;
    border-radius: 4px;
}

.sneak-peak-gallery-item-one .sneak-peak-gallery-item-image {
    background: url('../images/slika-lokala-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sneak-peak-gallery-item-two .sneak-peak-gallery-item-image {
    background: url('../images/slika-lokala-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sneak-peak-gallery-item-three .sneak-peak-gallery-item-image {
    background: url('../images/slika-lokala-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sneak-peak-gallery-item-left-align .sneak-peak-gallery-item-copy {
    margin-left: 95px;
}

.sneak-peak-gallery-item-left-align .sneak-peak-gallery-item-image {
    /*box-shadow: 4px 4px 24px -4px #fcd2a7;*/
}

.sneak-peak-gallery-item-right-align .sneak-peak-gallery-item-image {
    /*box-shadow: -4px 4px 24px -4px #fcd2a7;*/
}

.sneak-peak-gallery-item-right-align .sneak-peak-gallery-item-copy {
    margin-right: 95px;
}

.sneak-peak-gallery-item-copy {
    max-width: 520px;    
}

.sneak-peak-gallery-item-copy p {
    font-family: 'Winston-Thin', sans-serif;
    font-size: 16px;
    line-height: 193.1%;
    text-align: justify;
    color: #FFCF9E;
}

.sneak-peak-gallery-item-copy a {
    position: relative;
    display: block;
    margin-top: 25px;
    font-family: 'Winston-Thin', sans-serif;
    font-size: 18px;
    line-height: 193.1%;
    color: #fff;
}

.sneak-peak-gallery-item-copy a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background: #fff;
    left: 140px;
    top: 60%;
}

/* About owner */
#about_owner {
    position: relative;
}

.about-owner-wrapper {
    position: relative;
    z-index: 1;
}

.about-owner-overview {
    width: 465px;
    margin-top: 60px;
}

.owner-full-name {
    margin-bottom: 25px;
    font-family: 'Winston-Medium', sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    text-transform: uppercase;
    color: #FFCF9E;
}

.owner-image {
    width: 100%;
    height: 695px;
    background: url('../images/fink-owner-picture.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.owner-position {
    margin-bottom: 15px;
    margin-top: 25px;
    font-family: 'Winston-Medium', sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    text-transform: uppercase;
    color: #FFCF9E;
}

.owner-bio {
    font-family: 'Winston-Thin', sans-serif;
    font-size: 17px;
    line-height: 193.1%;
    text-align: left;
    color: #FFCF9E;
}

blockquote {
    font-family: 'Winston-Thin', sans-serif;
    font-size: 17px;
    line-height: 193.1%;
    text-align: left;
    color: #FFCF9E;
}

/* Contact */
.contact-form-wrapper {
    width: 100%;
}

.contact-form-wrapper form {
    width: 80%;
    margin: 70px auto 50px;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
    width: 100%;
    margin-top: 35px;
}

.contact-form-btn {
    margin-top: 30px;
    font-family: 'Winston-Medium', sans-serif;
    font-size: 20px;
    color: #000;
    padding: 10px 36px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.contact-form-btn:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: .3s;
}